@import '~styles/_responsive.scss';
@import '~styles/_variables.scss';
@import '~styles/_sprites.scss';
.header{
	width: 100%;
    height: 8vh;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $headerColor;
	&__title{
		color: white;
		margin-left: 10px;
	}
	&__image{
		width: 25px;
		height: 25px;
		background-repeat: no-repeat;
		@extend .pokemon-pokeball;
	}
}
