<div class="footer">
  <h2>Others</h2>
  <ul class="footer__options__list">
    <li class="footer__options__list-element">
      <div class="footer__options__list__first"></div>
    </li>
    <li class="footer__options__list-element">
      <div class="footer__options__list__second"></div>
    </li>
    <li class="footer__options__list-element">
      <div class="footer__options__list__third"></div>
    </li>
    <li class="footer__options__list-element">
      <div class="footer__options__list__fourth"></div>
    </li>
  </ul>
</div>
